@page
@model PizzaHouse.Pages.AboutusModel
@{
}
<style>
.jumboheaderimage { background-image: url("https://cdn.britannica.com/04/194904-050-1B92812A/Raw-Food-Almond-food-Nut-Snack.jpg"); height: 350px; }
</style>
<div class="jumboheaderimage jumbotron jumbotron-fluid text-sm-center text-md-center text-lg-right text-xl-right">
    <div class="container">
        <h1 class="display-4 font-weight-bold" style="color: dimgray
">
            About
        </h1>
        <h1 class="font-weight-bold" style="color: dimgray
">
            Welcome to Dr.Pizza Cafe.
        </h1>
        <a href="Pizza">
            <button class="btn btn-dark font-weight-bold" style="border-radius:8px;">
                Order Now !
            </button>
        </a>
        
    </div>

</div>
<div class="row">
                            <div class="col-12">
                                <div class="container">
                                    <p class="lead">
                                        <br />
                                        <br />
                                        We proudly source local ingredients that are delivered to us daily, as a way of providing you with the best pizza while supporting our community. Giving back to our community is important to us, which is why we participated in the 2018 Pizza Across America program to provide food for those in need, one slice of pizza at a time.<br /><br />

                                        Our food quickly made a name for itself, and we are pleased to have been named Hollywood’s “Best Pizza Slice in Town.” Providing people with delicious food, that can suit any tastes, is at the heart of everything we do.<br /><br />

                                        Our owner, Alex Martynov, had a vision for creating a pizza cafe where he could share his love of food — along with his family’s crust and sauce recipe — with people in a fun and engaging atmosphere. We hope you stop by Hollywood Pizza Café to taste our mouth-watering food for yourself. Don’t forget to stop by our selfie booth to immortalize this truly memorable experience!<br /><br />
                                    </p>
                                </div>
                            </div>
                        </div>
<div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview" data-toggle="modal" src="/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" alt="Alternate Text" class="mx-auto d-block img-fluid" style="height:170px;width:240px;" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview1" data-toggle="modal" src="/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" style="width:240px;height:170px;" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview2" data-toggle="modal" src="/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" alt="Alternate Text" class="mx-auto d-block img-fluid" style="height:170px;width:240px;" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview3" data-toggle="modal" src="/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" alt="Alternate Text" class="mx-auto d-block img-fluid" style="height:170px;width:240px;" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview4" data-toggle="modal" src="/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" alt="Alternate Text" class="mx-auto d-block img-fluid" style="height:170px;width:240px;" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview5" data-toggle="modal" src="/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" alt="Alternate Text" class="mx-auto d-block img-fluid" style="height:170px;width:240px;" />

                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview6" data-toggle="modal" src="/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" alt="Alternate Text" class="mx-auto d-block img-fluid" style="height:170px;width:240px;" />

                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                                    <img data-target="#imgview7" data-toggle="modal" src="/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" alt="Alternate Text" class="mx-auto d-block img-fluid" style="height:170px;width:240px;" />
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID" data-slide-to="0"></li>
                                                <li data-target="#carouselID" data-slide-to="1"></li>
                                                <li data-target="#carouselID" data-slide-to="2"></li>
                                                <li data-target="#carouselID" data-slide-to="3"></li>
                                                <li data-target="#carouselID" data-slide-to="4"></li>
                                                <li data-target="#carouselID" data-slide-to="5"></li>
                                                <li data-target="#carouselID" data-slide-to="6"></li>
                                                <li data-target="#carouselID" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview1">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID1">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID1" data-slide-to="0"></li>
                                                <li data-target="#carouselID1" data-slide-to="1"></li>
                                                <li data-target="#carouselID1" data-slide-to="2"></li>
                                                <li data-target="#carouselID1" data-slide-to="3"></li>
                                                <li data-target="#carouselID1" data-slide-to="4"></li>
                                                <li data-target="#carouselID1" data-slide-to="5"></li>
                                                <li data-target="#carouselID1" data-slide-to="6"></li>
                                                <li data-target="#carouselID1" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID1" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID1" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview2">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID2">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID2" data-slide-to="0"></li>
                                                <li data-target="#carouselID2" data-slide-to="1"></li>
                                                <li data-target="#carouselID2" data-slide-to="2"></li>
                                                <li data-target="#carouselID2" data-slide-to="3"></li>
                                                <li data-target="#carouselID2" data-slide-to="4"></li>
                                                <li data-target="#carouselID2" data-slide-to="5"></li>
                                                <li data-target="#carouselID2" data-slide-to="6"></li>
                                                <li data-target="#carouselID2" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID2" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID2" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview3">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID3">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID3" data-slide-to="0"></li>
                                                <li data-target="#carouselID3" data-slide-to="1"></li>
                                                <li data-target="#carouselID3" data-slide-to="2"></li>
                                                <li data-target="#carouselID3" data-slide-to="3"></li>
                                                <li data-target="#carouselID3" data-slide-to="4"></li>
                                                <li data-target="#carouselID3" data-slide-to="5"></li>
                                                <li data-target="#carouselID3" data-slide-to="6"></li>
                                                <li data-target="#carouselID3" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID3" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID3" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview4">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID4">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID4" data-slide-to="0"></li>
                                                <li data-target="#carouselID4" data-slide-to="1"></li>
                                                <li data-target="#carouselID4" data-slide-to="2"></li>
                                                <li data-target="#carouselID4" data-slide-to="3"></li>
                                                <li data-target="#carouselID4" data-slide-to="4"></li>
                                                <li data-target="#carouselID4" data-slide-to="5"></li>
                                                <li data-target="#carouselID4" data-slide-to="6"></li>
                                                <li data-target="#carouselID4" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID4" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID4" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview5">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID5">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID5" data-slide-to="0"></li>
                                                <li data-target="#carouselID5" data-slide-to="1"></li>
                                                <li data-target="#carouselID5" data-slide-to="2"></li>
                                                <li data-target="#carouselID5" data-slide-to="3"></li>
                                                <li data-target="#carouselID5" data-slide-to="4"></li>
                                                <li data-target="#carouselID5" data-slide-to="5"></li>
                                                <li data-target="#carouselID5" data-slide-to="6"></li>
                                                <li data-target="#carouselID5" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID5" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID5" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview6">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID6">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID6" data-slide-to="0"></li>
                                                <li data-target="#carouselID6" data-slide-to="1"></li>
                                                <li data-target="#carouselID6" data-slide-to="2"></li>
                                                <li data-target="#carouselID6" data-slide-to="3"></li>
                                                <li data-target="#carouselID6" data-slide-to="4"></li>
                                                <li data-target="#carouselID6" data-slide-to="5"></li>
                                                <li data-target="#carouselID6" data-slide-to="6"></li>
                                                <li data-target="#carouselID6" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID6" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID6" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="modal fade" tabindex="-1" id="imgview7">
                            <div class="modal-open">
                                <div class="modal-content bg-transparent">
                                    <div class="modal-header">
                                        <a href="/Aboutus" class="close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <div class="carousel slide" data-ride="carousel" id="carouselID7">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselID7" data-slide-to="0"></li>
                                                <li data-target="#carouselID7" data-slide-to="1"></li>
                                                <li data-target="#carouselID7" data-slide-to="2"></li>
                                                <li data-target="#carouselID7" data-slide-to="3"></li>
                                                <li data-target="#carouselID7" data-slide-to="4"></li>
                                                <li data-target="#carouselID7" data-slide-to="5"></li>
                                                <li data-target="#carouselID7" data-slide-to="6"></li>
                                                <li data-target="#carouselID7" data-slide-to="7"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/almonds-5cfa73852103d-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/arugula-5cfa738ea5a24-1381x947.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/cauliflower-5cfa73971259f-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/corn-5cfa739f9e4d0-1381x969.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Corn in wood bowl.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/mushrooms-5cfa735deb5a6-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pesto-5cfa736670a1e-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Homemade pesto sauce with basil and pine nuts in white mortar over old wooden table.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="~/Images/About Us/pinenuts-5cfa736f4066c-1381x922.jpeg" class="mx-auto d-block img-fluid" />
                                                    <div class="carousel-caption text-center">
                                                        <p class="font-weight-bold">Dr.Pizza Pizza Cafe.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item active">
                                                    <img src="~/Images/About Us/vegan-cheese-5cfa737a26c26-1381x921.jpeg" class="mx-auto d-block img-fluid" />
                                                </div>
                                            </div>
                                            <a href="#carouselID7" class="carousel-control-prev" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a href="#carouselID7" class="carousel-control-next" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
