@page
@model IndexModel
@{
    ViewData["Title"] = "Dr.Pizza";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Dr.Pizza</h1>
    <p class="lead">
        The most tasty Pizzas in Town
    </p>
</div>
<div>
    <img class="rounded mx-auto d-block img-fluid" src="~/Images/unnamed.png" />
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary" asp-page="Pizza">Bring me the Dr.Pizza Special</a>
</div>